<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">In My Life</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="display: block; border-radius: 20px; margin: auto;" src="assets/matrix.jpg" alt="Imagen 1">
    <ion-card-header>
      <ion-card-title style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">The Matrix</ion-card-title>
    </ion-card-header>
    <ion-card-title style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 16px;">Why this movie is important to me?</ion-card-title>
    <ion-card-content style="text-align: justify; padding-top: 4px;">
      This movie is important for me, because I really like the theme, and it has to do a lot with computers and hacking, so I like those two topics very much, and when you understand the story it is much more entertaining.
    </ion-card-content>
  </ion-card>
