<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Moment 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 60px;">
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/emhrYof1et0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <ion-card-header>
      <ion-card-title style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Morpheus</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      Morpheus Moment
    </ion-card-content>
    <ion-card-content style="text-align: justify; padding-top: 0;">
      In this part Morpheus explains to Neon how the Matrix works and warns him not to fight an agent.

      <br>
        <br>
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back-outline">Volver atrás</ion-icon>
        </ion-button>
    </ion-card-content>


  </ion-card>

</ion-content>
