<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">About The Matrix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="display: block; border-radius: 20px; margin: auto;" src="assets/matrix.jpg" alt="Imagen 1">
    <ion-card-header>
      <ion-card-title style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Neon</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify; font-size: 14px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      The Matrix is a science fiction film written and directed by the Wachowski sisters, released in 1999. The film's plot follows a programmer named Neo (played by Keanu Reeves) who discovers that his reality is a simulation of the true reality, created by machines to keep humans in a state of slavery. Neo joins a group of rebels led by Morpheus (played by Laurence Fishburne) to fight the machines and free humanity.
      <br>
      <ion-card-content style="text-align: center; font-size: 16px; font-weight: bold;">
        Amount of films:
      </ion-card-content>
      <ion-card-content style="text-align: justify; font-size: 14px; padding-top: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        The Matrix franchise has four films in total:
        <ul>
          <li>The Matrix (1999)</li>
          <li>The Matrix Reloaded (2003)</li>
          <li>The Matrix Revolutions (2003)</li>
          <li>The Matrix Resurrections (2021)</li>
        </ul>
        <ion-card-content style="text-align: center; font-size: 16px; font-weight: bold;">
          Authors:
        </ion-card-content>
        <ion-card-content style="text-align: justify; font-size: 14px; padding-top: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          The Matrix was written and directed by the Wachowski sisters, comprised of Lana Wachowski (formerly known as Larry Wachowski) and Lilly Wachowski (formerly known as Andy Wachowski). Both sisters also produced the films along with Joel Silver. The Matrix trilogy was one of the Wachowski sisters' most recognized and successful works, and earned them multiple awards and nominations.

          <ion-card>
            <div style="display: flex;">
              <img src="assets/lana.jpg" style="width: 50%;">
              <img src="assets/lilly.jpg" style="width: 60%;">
            </div>
            <ion-card-header>
              <ion-card-title style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;">Lilly Wachowski
 & Lilly Wachowski</ion-card-title>
            </ion-card-header>
          
          
          
        </ion-card>
        </ion-card-content>
      </ion-card-content>
    </ion-card-content>
  </ion-card>